/* TEMPLATE STYLES */


/* Necessary for full page carousel*/

html,
body,
.view {
    height: 100%;
}


/* Navigation*/

.navbar {
    background-color: transparent;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #2a3f54;
}

footer.page-footer {
    background-color: #2a3f54;
    margin-top: 0;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #2a3f54;
    }
}


/* Carousel*/

.carousel,
.carousel-item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel-item:nth-child(1) {
    background-image: url("../img/phones.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.carousel-item:nth-child(2) {
    background-image: url("../img/phones.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.carousel-item:nth-child(3) {
    background-image: url("../img/phones.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


/*Caption*/

.flex-center {
    color: #fff;
}

@media (min-width: 776px) {
    .carousel .view ul li {
        display: inline;
    }
    .carousel .view .full-bg-img ul li .flex-item {
        margin-bottom: 1.5rem;
    }
}
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}
.marketing > .row > .col-lg-4 > p{
  text-align: justify;
}

.marketing{
  padding-top: 80px;
}
.featurette p{
  text-align:justify;
}
